
// Font Families
$font-family-primary: 'Lato', sans-serif;


$header-bg: rgb(3, 3, 57);
$confirm: rgb(73, 44, 202);
$header-button: #f3dea7;
$primary-text-light: #f3dea7;
$dividers: #cea131;
$handwriting: 'Dancing Script', cursive;
$primary-text: rgb(3, 3, 57);
$card-color: rgb(238, 233, 229);
$primary-interactive: #f3dea7;
$error: #a43f3f;

$main-color: black; // Primary text color
$main-bg: rgb(255, 244, 246); 

// Spacing
$spacing-small: .5rem; // 8px / 16 = .5rem
$spacing-medium: 2rem; // 32px / 16 = 2rem
$spacing-large: 2.5rem; // 40px / 16 = 2.5rem