@import "/src/Styles/Partials/variables.scss";
@import "/src/Styles/Partials/mixins.scss";

.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $card-color;
  width: 22rem;
  height: 30rem;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 
    inset 0 2px 4px rgba(0, 0, 0, 0.1),
    inset 0 4px 6px rgba(0, 0, 0, 0.05),
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 15px rgba(0, 0, 0, 0.1);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .upload-page__thumbnail {
      max-height: 13rem;
      max-width: 20rem;
      height: auto;
      margin: 0;
      border: 1px solid $dividers;
      object-fit: cover;
    }

    .upload-page__top{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: .5rem;

    }
    .upload-page__file-input {
      @include buttons;
      width: 9rem;
      height: 2rem;
      margin: .25rem;

      &::-webkit-file-upload-button {
        visibility: hidden;
      }

      &::before {
        content: 'Choose File';
        @include buttons;
        cursor: pointer;
      }
    }

    .upload-page__date-input {
      height: 2rem;
      @include buttons;
      cursor: pointer;
      transition: background-color 0.3s ease;
    
      &::-webkit-calendar-picker-indicator {
        color: $primary-text-light;
        background-color: $primary-text-light;
        border-radius: 30%;
      }
    
      &::-webkit-datetime-edit,
      &::-webkit-inner-spin-button,
      &::-webkit-clear-button {
        color: $primary-text-light;
      }
    }
    

    .upload-page__title-input {
      font-family: "quicksand";
      font-weight: 600;
      width: 100%;
      max-width: 19.5rem;
      height: 8rem;
      padding: $spacing-small;
      border-radius: .25rem;
      font-size: 1.25rem;
      border: 1px solid $dividers;
      box-sizing: border-box;
      margin-bottom: $spacing-medium;
    }

    .upload-page__button-group {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding:0;

      .upload-page__button {
       @include buttons;
       width: 7rem;
       font-size: 1rem;
      }
    }
  }

  .upload-page__status {
    color: $error;
    margin: -.02rem;
    font-size: 1rem;
  }

  .upload-page__charCount{
    color: grey;
    margin-top: -3.5rem;
    margin-left: 15rem;

    &.error {
      color: $error;
    }
  }
}
